<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
   

</head>
<body>
    <div name="lateral bar">
        <input type="checkbox" class="checkbox" id="check">
        <label class="menu" for="check">Menú</label>
        <div class="left-panel">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/Historicos"><li>Históricos</li></a>
            </ul>
        </div>
    </div>


    <div id="HistoricsContainer">
        <label><b>Indicar tipo de búsqueda:</b></label>
        <div class= "row">
            <div class="d-flex justify-content-end col-6">
                <button id="TimeButton" class="btn btn-primary m-2">Fecha</button>
            </div>
            <div class = "justify-content-start">
                <div class="location ">
                    <button id="LocationButton" class="btn btn-primary m-2" disabled>Ubicación</button>
                    <div id="LocationHover"class="message col-6"> Realice busqueda de tiempo para acceder a la busqueda por ubicación</div>
                </div>
            </div>
        </div>
        <div id="TimeForm" style="display: none">
            <label for="DateI"><b>Fecha inicial</b></label>
            <input type="text" id="DateI" class="form-control" /> 
            <label for="DateF"><b>Fecha final</b></label>
            <input type="text" id="DateF" class="form-control">
            <button id="TimeSearch" class="btn btn-primary m-2">Buscar</button>
        </div>
        <div id="LocationForm" style="display: none">

            <H5>Click en el mapa para definir área de busqueda</H5>
            <div>
                <label for="RadioForm"><H5>Radio de busqueda (m)</H5></label>
                <input type="number" id="RadioForm" min="1" class="form-control">    
            </div>
            <button id="ConfirmSearch" class="btn btn-primary m-2">Confirmar</button>
            <button id="LocationSearch" class="btn btn-primary m-2" style="display: none;">Buscar</button>
        </div>
    
    </div>

    <div id="TableContainer" style="display: none;">
        <H2>Resultados detallados</H2>
        <h6>Para resultados individuales de click sobre una línea o sobre una fila de la tabla</h6> 
        <div id="tablediv">
            <div style="height: 200px;overflow-y: scroll; overflow:auto;">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    
                        <tr class = 'table-primary'>
                            <th scope="col">Fecha y Hora</th>
                        </tr>
                        
                    </thead> 
                    <tbody id="tbl-body-results">
                        <div id = "Rowsdiv">
                            <tr class = 'table-primary'>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>`
        </div>
        
    </div>
    <div id="container">

    <div id="map-template">

    </div>
                         
                    
    </div>
   
   
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/js/Historicos_Main.js"></script>

    <script src="/js/DateTimePicker.js"></script>


</body>
</html>
