<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
   

</head>
<body>
    <div name="lateral bar">
        <input type="checkbox" class="checkbox" id="check">
        <label class="menu" for="check">|||</label>
        <div class="left-panel">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/Historicos"><li>Historicos</li></a>
            </ul>
        </div>
    </div>


    <div id="HistoricsContainer">
        <div>
            <label for="Date"><b>Día de busqueda</b></label>
            <input type="text" id="Date" class="form-control" /> 
            <label for="Hour_I"><b>Rango de horas</b></label>
            <input type="text" id="Hour" class="form-control">
            <button id="Historicos" class="btn btn-primary m-2">Historicos</button>
        </div>
    
    </div>
    <div id="container">

    <div id="map-template">

    </div>
                         
                    
    </div>
   
   
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/js/Historicos_Main.js"></script>

    <script src="/js/DateTimePicker.js"></script>


</body>
</html>
