<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Taxi Locator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />


</head>

<body>
    
    <div class= "container mt-5 mb-5" style="width: 400px">
        <input type="text" id="picker" class="form-control" /> 
    </div>

    
    <script>

        $('#picker').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        locale: {
            format: 'M/DD hh:mm A'
        }
        });

    </script>
  
  <div id="container2">

        <div id="map-template">
            
        </div>
    
        <div id="table-container">
            <table class="text" id="table-LastPosition">
                <b style="font-size: 18px;">Última ubicación</b>
                <tr>
                    <td>ID:</td><td id="id"> -- </td>
                </tr>
                <tr>
                    <td>Latitud:</td><td id="latitud"> -- </td>
                </tr>
                <tr>
                    <td>Longitud: </td><td id="longitud"> --</td>
                </tr>
                <tr>
                    <td>Fecha: </td><td id="fecha"> --
                </td>
                </tr>
                <tr>
                    <td>Hora:</td><td id="hora"> -- </td> 
                </tr>
                </tr>
            </table>
        </div>
    </div>
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.4/umd/popper.min.js" integrity="sha512-+Tn2V/oN9O/kiaJg/1o5bETqyS35pMDJzkhkf8uvCzxmRox69AsWkSpBSMEGEe4EZp07Nunw712J3Xvh5Tti0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="moment.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
