body{
    padding: 0;
    margin: 0;
    background: #333;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#map-template {
    height: 100%;
    width: 100%;
    top:0;
    position:fixed;
    display: flex;
    z-index: 10;
} 


#table-LastPosition {

margin-left: auto;
margin-right: auto;

}

#table-container {
    border-radius:20px;
    width:20%;
    height:20%;
    display: flex;
    background-color: blue;
    font-family: sans-serif;
    text-align: center;
    opacity: .6;
    border: none;
    font-size: 13px;
    align-content: center;
    color: white;
    padding: 10px;
    
    z-index: 20;
    margin: 10px 10px;
}