body{
    padding: 0;
    margin: 0;
    background: #333;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#nav-var {
    top: 0;
    height: 10%;
    width: 100%;
    background: #60abe0;
    text-decoration: none;
    z-index: 0;
}



#LogoWebPage{
    top: 1%;
    display: block;
    width:6%;
    height:8%;
    left: 5%;
    position: fixed;
    margin:auto;
    z-index: 1;
}

#FindersLogo{
    top: 0.8%;
    display: block;
    width:16%;
    height:10%;
    left: 9%;
    position: fixed;
    margin:auto;
    z-index: 1;
}

#opciones{
    display: block;
    font-family: Open Sans;
    position: fixed;
    font-size: 30px;
    top: 2%;
    z-index: 1;
    right: 5%;
    color: white;
    text-align: right;
} 

#TaxiList {
    display: block;
    position: fixed;
    font-family: Open Sans;
    font-size: 25px;
    height: 5%;
    top: 2.5%;
    right: 15%;
}


ul a{
    color: #F7F7F7;
    text-decoration: none;
}
ul a:hover{
    color: #F7F7F7;
    text-decoration: none;
}


#map-template {
    height: 90%;
    width: 100%;
    bottom:0;
    position:fixed;
    display: flex;
    z-index: 0;
} 


#table-LastPosition {
    margin-left: auto;
    margin-right: auto;
}

b {
    font-size: 18px
}

#LastPositiontable-container {
    border-radius:20px;
    padding: 1%;
    height: 26.5%;
    width: 20%;
    background-color: blue;
    font-family: sans-serif;
    text-align: center;
    opacity: .6;
    bottom:5%;
    left: 4%;
    font-size: 13px;
    color: white;
    position: fixed;
    z-index: 20;
}

#TableContainer {
    border-radius:20px;
    padding: 1% 1% 1% 1%;
    width: 30%;
    height: 350px;
    background-color: blue;
    font-family: sans-serif;
    text-align: center;
    opacity: .6;
    bottom:7%;
    right: 4%;
    font-size: 13px;
    color: white;
    position: fixed;
    z-index: 20;
}

#HistoricsContainer {
    display: grid;
    border-radius:20px;
    padding: 1% 1% 1% 1%;
    width: 25%;
    height:17%;
    background-color: blue;
    font-family: sans-serif;
    text-align: center;
    opacity: .6;
    bottom:7%;
    left: 4%;
    font-size: 13px;
    color: white;
    position: fixed;
    z-index: 20;
}

.location .message{
    background: #fff;
    color: #000;
    top: -10%;
    right: 8%;
    height: 74px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 14px;
    z-index: 40;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, 0.55, 0.262, 1.55);
}

.location:hover .message{
    opacity: 1;
    pointer-events: auto;
}
